[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = git@github.com:ucb-bar/riscv-isa-sim.git
[submodule "riscv-fesvr"]
	path = riscv-fesvr
	url = git@github.com:ucb-bar/riscv-fesvr.git
[submodule "riscv-pk"]
	path = riscv-pk
	url = git@github.com:ucb-bar/riscv-pk.git
[submodule "riscv-gcc"]
	path = riscv-gcc
	url = git@github.com:ucb-bar/riscv-gcc.git
[submodule "riscv-opcodes"]
	path = riscv-opcodes
	url = git@github.com:ucb-bar/riscv-opcodes.git
