[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = https://github.com/lowrisc/riscv-isa-sim.git
[submodule "riscv-fesvr"]
	path = riscv-fesvr
	url = https://github.com/riscv/riscv-fesvr.git
[submodule "riscv-opcodes"]
	path = riscv-opcodes
	url = https://github.com/riscv/riscv-opcodes.git
[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/riscv/riscv-tests.git
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/lowrisc/riscv-gnu-toolchain.git
[submodule "lowrisc-tests"]
	path = lowrisc-tests
	url = https://github.com/lowrisc/lowrisc-tests.git
