language: cpp
# run on new infrastructure
sudo: false
cache: apt
# required packages to install
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.8
      - g++-4.8
      - gperf
      - autoconf
      - automake
      - autotools-dev
      - libmpc-dev
      - libmpfr-dev
      - libgmp-dev
      - gawk
      - build-essential
      - bison
      - flex
      - texinfo

env:
  global:
    - RISCV="/home/travis/riscv_install"
    - MAKEFLAGS="-j3"

before_install:
  # make install destination
  - mkdir -p $RISCV
  # don't forget to clone riscv-tests/env
  - cd riscv-tests
  - git submodule update --init
  - cd ..
  # actually use new gcc
  - export CXX=g++-4.8 CC=gcc-4.8
  # only have 2 cores on the travis machine
  - sed -i.bak 's/JOBS=16/JOBS=8/' build.common

# extra time duing long builds
install: travis_wait

script: ./build.sh
